<section>
  <h2>Product details</h2>
  
  @if (isEditMode) {
    <ng-container>
    <form [formGroup]="editForm" (ngSubmit)="onEditProduct($event)" >
      <article class="product">
        <header>
            <select
              type="text"
              id="category"
              name="category"
              value="category"
              formControlName="category">
            @for (category of categories; track $index) {
              <option [ngValue]="category">{{ category.type }}</option>
            }
            </select>
          <img [src]="product.imageUrl" alt="product-img" />
        </header>

        <article class="product-content">
          <p class="product-content-info">Title:</p>
          <input
            type="text"
            name="title"
            id="title"
            value="title"
            formControlName="title"
          />

          <p class="product-content-info">Description:</p>
          <input
            type="text"
            name="description"
            id="description"
            value="description"
            formControlName="description"
          />

          <p class="product-content-info">Created at: {{ product.created | elapsedTime }}</p>
          <p class="product-content-info">Updated at: {{ product.modified | elapsedTime }}</p>
        </article>
        <footer>
          <article class="product-price">
            <p>Price:</p>
            <input
              type="number"
              name="price"
              id="price"
              value="price"
              formControlName="price"
            />
          </article>
          <article class="product-btn-cta">
            <button class="btn product-btn green-btn">Save</button>
            <button class="btn product-btn red-btn" (click)="triggerEditMode($event)">Cancel</button>
          </article>
        </footer>
      </article>
    </form>
  </ng-container>
} @else {
  <ng-container >
    <article class="product">
      <header>
        <span> {{ product.category.type }} </span>
        <img [src]="product.imageUrl" alt="product-img" />
      </header>
      <article class="product-content">
        <p class="product-content-info">Title: {{ product.title | titlecase }}</p>
        <p class="product-content-info">Description: {{ product.description }}</p>
        <p class="product-content-info">Created at: {{ product.created | elapsedTime }}</p>
        <p class="product-content-info">Updated at: {{ product.modified | elapsedTime }}</p>
        <p class="product-content-info">Created by: {{ product.createdBy }}</p>
      </article>
      <footer>
        <article class="product-price">
          <p>{{ product.price }}BGN</p>
        </article>
        <article class="product-btn-cta">
          @if (isAbleToTriggerEditMode) {
            <button class="btn product-btn green-btn" (click)="triggerEditMode($event)">Edit</button>
            <button class="btn product-btn red-btn" (click)="onDelete(product.id)">Delete</button>
          } @else {
            <p>You cannot make changes to this product</p>
          }
          
        </article>
      </footer>
    </article>
    <app-post [product]="product"/>
  </ng-container>
}
</section>
