<section>
  <h2>Product details</h2>
  <article class="products">
    <article class="product">
      <header>
        <span> {{ product.category.type }} </span>
        <img [src]="product.imageUrl" alt="product-img">
      </header>
      <article class="product-content">
        <p class="product-content-info">
          Title: {{ product.title }}
        </p>
        <p class="product-content-info">
          Description: {{ product.description }}
        </p>
        <p class="product-content-info">
          Created at: {{ product.created | elapsedTime }}
        </p>
        <p class="product-content-info">
          Updated at: {{ product.modified | elapsedTime }}
        </p>
      </article>
      <footer>
        <article class="product-price">
          <p>{{ product.price }}BGN</p>
        </article>
        <article class="product-btn-cta">
          <button class="btn product-btn">Edit</button>
          <button class="btn product-btn">Delete</button>
        </article>
      </footer>
    </article>
  </article>
</section>