h2 {
  padding: 10px;
  color: rgb(186, 20, 100);
  background-color: black;
  text-align: center;
  border-radius: 10px;
  /* border: solid rgb(186, 20, 100) ; */
  box-shadow: 0px 3px 8px -4px;
}

.product {
  background-color: white;
  color: black;
  border-radius: 12px;
  margin: 25px auto;
  box-shadow: -7px 10px 4px -2px;
  text-align: center;
  width: 80%;
  max-width: 700px;
  overflow: hidden;
  margin-bottom: 5%;
}

.product header{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  background-color: rgb(186, 20, 100);
  color: black;

  position: relative;
  text-align: center;
  padding: 60px 30px;
  box-shadow: 0px 9px 8px -4px;
}

.product header h3 {
  margin: 0;
  text-align: center;
  padding: 20px 20px;
  font-size: x-large;
}

.product header span, .product header select {
  background-color: black;
  border-radius: 6px;
  text-transform: uppercase;
  color: white;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: small;
}

.product-content {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  flex-wrap: wrap;
}

.product-content span {
  margin: 5px 10px;
}

.product-content-info {
  font-size: small;
  text-align: left;
  font-weight: bold;
  flex-wrap: wrap;
  padding: 0px 30px;
}

.product-btn {
  font-size: 16px;
  font-weight: bolder;
  padding: 10px 20px;
}

.product footer {
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  text-align: center;
}

.green-btn:hover {
  background-color: rgb(15, 130, 15);
}

.green-btn {
  color: aliceblue;
  background-color: rgb(18, 155, 18);
  border: none;
  transition: background-color 0.3s ease;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus, select:focus {
  border-color: rgb(186, 20, 100);
  outline: none;
  box-shadow: 0px 0px 5px rgba(186, 20, 100, 0.5);
}


/* General error message styling */
.error-message {
  color: red;
  font-size: 14px;
  background-color: black;
  padding: 7px 1px;
  border: 1px solid red;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(255, 0, 0, 0.1);
  display: inline;
  text-align: center;
}

/* Additional hover effect for better interaction */
.error-message:hover {
  background-color: rgb(186, 20, 100);
  color: black;
  border-color: black;
  box-shadow: 0px 3px 6px rgba(255, 0, 0, 0.2);
}