footer {
  background-color: black;
  color: rgb(186, 20, 100);
  text-align: center;
  padding: 1px 0px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  margin: 10px;
  font-size: 1.2rem;
}