/* login register forms */
h2 {
  padding: 10px;
  color: rgb(186, 20, 100);
  background-color: black;
  text-align: center;
  border-radius: 10px;
  /* border: solid rgb(186, 20, 100) ; */
  box-shadow: 0px 3px 8px -4px;
}

.register {
  text-align: center;
  background-color: black;
  width: 40%;
  margin: 2em auto 4em;
  border-radius: 0.9em;
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register fieldset {
  border-radius: 0.5em;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.register p{
  padding-bottom: 0;
  padding-top: 1.5rem;
  color: #333;
}

.register input {
  flex: 0 1 100%;
  border: 1px solid #999;
  padding: 0.4em;
  border-left: 0.4em solid green;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  font-size: 1em;
}

.register select {
  border-color: #333;
  padding: 0.3em;
  border-radius: 0.3em;
}

.register button {
  background-color: #234465;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.7em 1.5em;
  margin-top: 1.5rem;
  width: 60%;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; 
}

.register button:hover {
  transform: scale(1.05); 
}

.register i {
  border: 1px solid #999;
  border-right: none;
  padding: 0.55em;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  background-color: #e9ecef;
}

.register a {
  color: #234465; 
  text-decoration: none;
}

.register a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.register .field {
  display: flex;
  padding-bottom: 0.5em;
  align-items: center;
}

.register .field input {
  margin-left: 0.5em;
}

.register-btn-disabled {
  background-color: grey !important;
}

.register-btn-enabled {
  background-color: green !important;
}

.error {
  border-radius: 0.5em;
  color: red !important;
  font-weight: bold;
}

.input-error {
  border-left-color: red !important;
  border-color: red !important;
}