@if (isLoading) {
  <app-loader />
} @else {
  <div class="post-wrapper">
    <div class="add-btn">
      <button class="btn" routerLink="/posts/add">+ Create post</button>
    </div>
    @for (post of product.posts; track $index) {
      @if (post.productId === product.id) {
        <div class="post-container">
          <div class="post-header">
            <h3>{{ post.title }}</h3>
          </div>
          <div class="post-body">
            <p>{{ post.description }}</p>
          </div>
          <div class="post-info">
            <div class="post-creator">
              <p>Posted by: {{ post.createdBy }}</p>
            </div>
            <div class="post-footer">
              <button 
                [disabled]="post.isLiked"
                [class]="post.isLiked ? 'choosed-btn' : 'like-btn btn'"
                (click)="onLike(post.title)">👍 {{ post.likes }}
              </button>
              <button 
                [disabled]="post.isDisliked"
                [class]="post.isDisliked ? 'choosed-btn' : 'dislike-btn btn'"
                (click)="onDislike(post.title)">👎 {{ post.dislikes }}
              </button>
            </div>
          </div>
        </div>
      }
    }
  </div>
}
