@if (isLoading) {
  <app-loader />
} @else {
  <div class="post-wrapper">
    <div class="add-btn">
      <button class="btn" (click)="onCreatePostClick()">+ Create post</button>
    </div>
    @if (isCreatePostModeTriggred) {
      <div class="post-form">
        <h3>Create New Post</h3>
        <form (ngSubmit)="onAddPost(addPostForm)" #addPostForm="ngForm">
          <div>
            <label for="title">Title</label>
            <input 
              type="text" 
              id="title" 
              [(ngModel)]="newPost.title" 
              name="title" 
              required 
              placeholder="Enter post title" />
          </div>
          <div>
            <label for="description">Description</label>
            <textarea 
              id="description" 
              [(ngModel)]="newPost.description" 
              name="description" 
              required 
              placeholder="Enter post description"></textarea>
          </div>
          <button type="submit" [disabled]="!addPostForm.valid">Create Post</button>
        </form>
      </div>
    }
    @for (post of product.posts; track $index) {
      @if (post.productId === product.id) {
        <div class="post-container">
          <div class="post-header">
            <h3>{{ post.title }}</h3>
          </div>
          <div class="post-body">
            <p>{{ post.description }}</p>
          </div>
          <div class="post-info">
            <div class="post-creator">
              <p>Posted by: {{ post.createdBy }}</p>
            </div>
            <div class="post-footer">
              <button 
                [disabled]="post.isLiked"
                [class]="post.isLiked ? 'choosed-btn' : 'like-btn btn'"
                (click)="onLike(post.title)">👍 {{ post.likes }}
              </button>
              <button 
                [disabled]="post.isDisliked"
                [class]="post.isDisliked ? 'choosed-btn' : 'dislike-btn btn'"
                (click)="onDislike(post.title)">👎 {{ post.dislikes }}
              </button>
            </div>
          </div>
        </div>
      }
    }
  </div>
}
