
<header>
  <article class="logo-container">
    <img class="logo-icon" src="/nav/logo-icon.png" alt="Sidebarche">
    <img class="logo-img" src="/nav/favicon.ico" alt="SoftUni logogo">
  </article>

  <nav>
    <ul>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile </a>
      </li>

      <li class="nav-item login-nav-item">
        <img src="/nav/search.png" alt="Searcharka">
        <button class="btn login-btn">
          Login
        </button>
      </li>
    </ul>

  </nav>
</header>