<header>
  <article class="logo-container">
    <img class="logo-img" src="/nav/favicon.ico" alt="logogo" routerLink="/home">
  </article>

  <nav>
    <ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button">Products</a>
        <img class="nav-adj" src="/nav/nav-arr-down.png">
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="/products/add">Add Product</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/products">View all Products</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button">Categories</a>
        <img class="nav-adj" src="/nav/nav-arr-down.png">
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="/categories/add">Add Category</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/categories">View all Categories</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacts">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile </a>
      </li>

      <li class="nav-item login-nav-item">
        @if (isUserLoggedIn) {
          <app-logout />
        } @else {
          <button class="btn login-btn" routerLink="/login">Login</button>
          <button class="btn register-btn" routerLink="/register">Register</button>
        }
      </li>
    </ul>

  </nav>
</header>