header {
  box-shadow: 0px 3px 8px -4px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: transform 0.5s ease;
}

.logo-container img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px;
}

.nav-item {
  margin: 0 15px;
}

.login-nav-item * {
  display: inline-block;
  vertical-align: middle;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: solid;
  color: rgb(186, 20, 100);
  transition: transform 0.5s ease, color 0.5s ease;
}

.nav-link:hover {
  cursor: pointer;
  color: wheat;
}

.logo-img:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.login-btn {
  margin-left: 33px;
}

.nav-item.dropdown {
  position: relative;
}

.nav-item .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color:  rgb(186, 20, 100);
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 10;
  min-width: 100px;
}

.nav-item .dropdown-menu .dropdown-item {
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  display: block;
}

.nav-item .dropdown-menu .dropdown-item:hover {
  background-color: cyan;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block; /* Show dropdown on hover */
}

.nav-adj {
  position: absolute;
  bottom: -10%;
}