<section>
  <h2>Products</h2>
  <div class="mini-head">
    <app-filter (filterItems)="onFilterUpdated($event)"/>
    <button class="btn" routerLink="/products/add">+ Add product</button>
  </div>
  @if (isLoading) {
    <app-loader />
  } @else {
  <article class="products">
    @for (product of filteredProducts; track $index) {
    <article class="product">
      <header>
        <span> {{ product.category.type }} </span>
        <img [src]="product.imageUrl" alt="product-img">
      </header>
      <article class="product-content">
        <p class="product-content-info">
          Title: {{ product.title | titlecase }}
        </p>
        <p class="product-content-info">
          Description: {{ product.description.length > 50 ? product.description.substring(0, 50) : product.description }}
        </p>
        <p class="product-content-info">
          Created at: {{ product.created | date: 'MMMM dd HH:ss' }}
        </p>
        <p class="product-content-info">
          Updated at: {{ product.modified | elapsedTime }}
        </p>
      </article>
      <footer>
        <article class="product-price">
          <p>{{ product.price }}BGN</p>
        </article>
        <article class="product-cta">
          <button class="btn product-btn" [routerLink]="[product.id]">Details</button>
        </article>
      </footer>
    </article>
  }
  </article>
  <div class="pagination">
    <button 
      [class]="isFirstPage ? 'btn-disabled' : 'btn btn-prev'"
      [disabled]="isFirstPage"
      (click)="onPageChange(currentPage - 1)">Prev
    </button>

    <span class="page-info">Page {{ currentPage + 1 }} of {{ totalPages }}</span>

    <button 
      [class]="isLastPage ? 'btn-disabled' : 'btn btn-next'"
      [disabled]="isLastPage"
      (click)="onPageChange(currentPage + 1)">Next
    </button>
  </div>
  }
</section>