<section>
  <h2>Products</h2>
  <button class="btn" routerLink="/products/add">Add product</button>
  @if (isLoading) {
    <app-loader />
  } @else {
    
  <article class="products">
    @for (product of products; track $index) {
    <article class="product">
      <header>
        <span> {{ product.category.type }} </span>
        <img [src]="product.imageUrl" alt="product-img">
      </header>
      <article class="product-content">
        <p class="product-content-info">
          Title: {{ product.title | titlecase }}
        </p>
        <p class="product-content-info">
          Description: {{ product.description.length > 50 ? product.description.substring(0, 50) : product.description }}
        </p>
        <p class="product-content-info">
          Created at: {{ product.created | date: 'MMMM dd HH:ss' }}
        </p>
        <p class="product-content-info">
          Updated at: {{ product.modified | elapsedTime }}
        </p>
      </article>
      <footer>
        <article class="product-price">
          <p>{{ product.price }}BGN</p>
        </article>
        <article class="product-cta">
          <button class="btn product-btn" [routerLink]="[product.id]">Details</button>
        </article>
      </footer>
    </article>
  }
  </article>
  }
</section>