<div class="container">
  <form class="login" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <fieldset>
      <h2>Login Form</h2>

      <p class="field field-icon">
        <label for="email">
          <span>
            <i class="fas fa-envelope"></i>
          </span>
        </label>
        <input
          [class]="hasEmailErrors(emailInput) ? 'input-error' : ''"
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email..."
          ngModel
          #emailInput="ngModel"
          required
        />
      </p>

      @if (emailInput.touched) {
          @if (emailInput.errors?.['required']) {
            <p class="error">Email is required!</p>
          }
          @if (emailInput.errors?.['emailValidator']) {
            <p class="error">Email is not valid!</p>
          }
      }

      <p class="field field-icon">
        <label for="password">
          <span>
            <i class="fas fa-lock"></i>
          </span>
        </label>
        <input
          [class]="hasPasswordErrors(passwordInput) ? 'input-error' : ''"
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password..."
          ngModel
          #passwordInput="ngModel"
          required
          minlength="3"
        />
      </p>

      @if (passwordInput.touched) {
          @if (passwordInput.errors?.['required']) {
            <p class="error">Password is required!</p>
          }
          @if (passwordInput.errors?.['minlength']) {
            <p class="error">Password must be at least 3 characters!</p>
          }
      }
        
      <button [disabled]="loginForm.invalid" [class]="loginForm.invalid ? 'login-btn-disabled' : 'login-btn-enabled' ">Login</button>

      <p class="text-center">Don't have an account?
        <a routerLink="/register">Register</a>
      </p>
    </fieldset>
  </form>
</div>
