<div class="container">
  <form class="login" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <fieldset>
      <h2>Login Form</h2>

      <p class="field field-icon">
        <label for="username">
          <span>
            <i class="fas fa-envelope"></i>
          </span>
        </label>
        <input
          [class]="isRequired(usernameInput) ? 'input-error' : ''"
          type="text"
          name="username"
          id="username"
          placeholder="Enter your username..."
          ngModel
          #usernameInput="ngModel"
          required
        />
      </p>

      @if (usernameInput.touched && usernameInput.errors?.['required']) {
        <p class="error">Email is required for a login!</p>
      }

      <p class="field field-icon">
        <label for="password">
          <span>
            <i class="fas fa-lock"></i>
          </span>
        </label>
        <input
          [class]="isRequired(passwordInput) ? 'input-error' : ''"
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password..."
          ngModel
          #passwordInput="ngModel"
          required
        />
      </p>

      @if (passwordInput.touched && passwordInput.errors?.['required']) {
        <p class="error">Password is required for a login!</p>
      }
      
      @if (hasLoginError) {
        <div class="login-err error">
          Invalid username and/or password!
        </div>
        <!-- <mat-card>
          <mat-card-content>
            <button mat-raised-button color="primary" (click)="showError()">ERROR</button>
          </mat-card-content>
        </mat-card> -->
      }
        
      <button [disabled]="loginForm.invalid" [class]="loginForm.invalid ? 'login-btn-disabled' : 'login-btn-enabled'">Login</button>

      <p class="text-center">Don't have an account?
        <a routerLink="/register">Register</a>
      </p>
    </fieldset>
  </form>
</div>
